* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #212529;
  --border-color: #666;
  --font-color: #f1f5f9;
  --primary-color: #4dff91;
  --error-color: #ff0043;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Ubuntu", sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 1.5rem 2.5rem;
  position: relative;
}

header {
  padding: 2rem 0;
}

#themeSwitcher {
  background-color: var(--bg-color);
  border: 0.125rem solid var(--font-color);
  color: var(--font-color);
}

#themeSwitcher:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: 0.15s;
}

input {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  color: var(--font-color);
  display: block;
  font-size: 1.75rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: end;
  width: 100%;
}

#keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0;
}

#keys button {
  color: var(--bg-color);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}

#keys button:hover {
  filter: brightness(0.8);
}

#result {
  border-width: 2px 2px 2px 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

#copyToClipboard {
  background-color: transparent;
  border: solid var(--border-color);
  border-width: 2px;
  border-radius: 0.5rem 0 0 0.5rem;
  color: var(--font-color);
  cursor: pointer;
  display: block;
  height: 4.25rem;
  width: 6rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.error {
  background-color: var(--error-color);
}

.success {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}
